/*
 * 面向属性的 CSS
 */

/* 布局方式 */

.dpflex {
    display: flex;
}

.flexcol {
    flex-direction: column;
}

.dpnone {
    display: none;
}

.flex1 {
    flex: 1
}

/* 盒模型 */

.mt0 {
    margin-top: 0;
}

.mt5 {
    margin-top: 5px;
}

.mt8 {
    margin-top: 8px;
}

.mt15 {
    margin-top: 15px;
}

.mb15 {
    margin-bottom: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mt25 {
    margin-top: 25px;
}

.mt35 {
    margin-top: 35px;
}

.mt40 {
    margin-top: 40px;
}

.mr16 {
    margin-right: 16px;
}

.mr20 {
    margin-right: 20px;
}

.mb16 {
    margin-bottom: 16px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb7 {
    margin-bottom: 7px;
}

.ml12 {
    margin-left: 12px;
}

.ml15 {
    margin-left: 15px;
}

.ml50 {
    margin-left: 50px;
}

.pd16 {
    padding: 16px;
}

.pd20 {
    padding: 20px;
}

.pl8 {
    padding-left: 8px;
}

/* 字号 */

.fs12 {
    font-size: 12px;
}

.fs14 {
    font-size: 14px;
}

.fs16 {
    font-size: 16px;
}

.fs18 {
    font-size: 18px;
}

.fs20 {
    font-size: 20px;
}

.fs24 {
    font-size: 24px;
}

.fs40 {
    font-size: 40px;
}

/* 字体加粗 */

.fw {
    font-weight: bold;
}

/* 圆角边框 */

.br15 {
    border-radius: 15px;
}

/* 字体颜色 */

.color9a {
    color: #9a9a9a;
}

.color8a {
    color: #8A8A8A;
}

.coloe42 {
    color: #4294FF;
}

.colorf7 {
    color: #AAD9F7;
}