main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: url('../img/sign-bg.jpg');
    background-size: cover;
    color: #fff;
}

.header {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: flex-end;
    line-height: 5rem;
    font-size: 1.25rem;
    padding-right: 1.25rem;
}

.title {
    width: 100%;
    height: 6.25rem;
    font-size: 1.75rem;
    padding-left: 1.875rem;
}

.bottom {
    width: 100%;
    height: 15.625rem;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.bottom input {
    width: 21.875rem;
    height: 3.125rem;
    border-radius: 1.5625rem;
    margin-bottom: 1.25rem;
    text-indent: 1.875rem;
    background-color: rgba(255, 255, 255, .6);
}

.bottom input::placeholder {
    color: #fff;
}

.bottom input:nth-of-type(3) {
    background-color: #63FFA7;
}

.bottom p {
    width: 100%;
    height: 1.25rem;
    display: flex;
    justify-content: flex-end;
    margin-right: 1.875rem;
}

.bottom i {
    margin-right: 1.25rem;
}

.footer {
    text-align: center;
    margin-top: 9.375rem;
}