body{
    background-color: #E8E8E8;
}
header{
    padding: 0 20px;
    width: 100%;
    height: 219px;
    background-color: #fff;
    .heads{
        position: relative;
        width: 100%;
        height: 120px;
        line-height: 120px;
        .head{
            img{
                width: 120px;
                height: 120px;
                border-radius: 50%;
            }
            .vip{
                position: relative;
                top: -70px;
                left: 80px;
                display: block;
                width: 32px;
                height: 16px;
                background: url(../img/vip.png)no-repeat;
            }
        }
        .nickname{
            overflow: hidden;
            text-overflow:ellipsis;
            white-space: nowrap;    
        }
    }
    .selfdom{
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
    }
}

main{
    overflow-y: scroll;
}
.sports-data{
    width: 100%;
    height: 170px;
    padding: 20px;
    background-color: #fff;
    .titel{
        justify-content: space-between;
        i{

            top: 10px;
            right: 10px;
            font-size: 24px !important;
        }
    }
    .left{
        flex: 1;
        border-right:1px solid rgba(187, 187, 187, 100);;
    }
    .right{
        flex: 1;
    }
    .badge{
        width: 100px;
        height: 100px;
        border: 1px solid rgba(187, 187, 187, 100);
        border-radius: 50%;
    }
    .badge-box{
        justify-content: space-around;
    }
    .badge1{
        background:url(../img/mybadge01.jpg);
        background-size: cover;
    }
    .badge2{
        background:url(../img/mybadge02.jpg);
        background-size: cover;
    }
    .badge3{
        background:url(../img/mybadge03.jpg);
        background-size: cover;
    }
}
.secede{
    width: 100%;
    height: 55px;
    background-color: #fff;
    text-align: center;
    line-height: 55px;
    margin-bottom: 20px;
}

.file-btn{
    display: none;
}

