header{
    padding: 0 20px;
    width: 100%;
    height: 340px;
    background-color: #4294FF;
    .titel{
        width: 100%;
        height: 50px;
        line-height: 50px;
    }
    .sportsData{
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100px;
        color: #fff;
        .right{
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: #ccc;
        }
    }
    .data{
        width: 100%;
        height: 75px;
        color: #fff;
        div{
            flex: 1;
            justify-content: space-between;
        }
    }
    .day{
        justify-content: space-between;
        width: 100%;
        height: 50px;
        color: #fff;
    }
    
}